body{
    background-image: url("image3.jpeg");}


input[id=name],input[id=no_ic],input[id=username],input[id=password],input[id=no_phone],input[type=email],textarea[id=address],textarea[id=problem]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[id=gender]{
    margin-top: 6px;
    margin-bottom: 16px;}

.submit{
    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: green;
}

.reset{
    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color:red;
}

.cancel{
    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color:rgb(240, 27, 27);
}

.cancel{
    text-decoration: none;
    color:black;
}
table{width: 50%;
    border:2px solid black;
    border-radius: 4px;
    background-color: #C2B280;
    padding: 50px;
}
table p{text-align: center;
    font-size: 20px;
    font-weight: bold;}